{% extends '../base.html' %} {% block metatitle %} {{request.user.username}} Profile {% endblock %} {% block content %} {% load static %}
<section class="section profile">
    <div class="row">
        <div class="col-xl-4">

            <div class="card">
                <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                    {% if profile.image %}
                    <img src="{{profile.image.url}}" alt="Profile" class="rounded-circle"> {% else %}
                    <img src="{% static 'admin/assets/img/profile-img.jpg' %}" alt="Profile" class="rounded-circle"> {% endif %} {% if profile.name %}
                    <h2>{{ profile.name }}</h2>
                    {% else %}
                    <h2>Edit Your Name</h2>
                    {% endif %}
                </div>
            </div>

        </div>

        <div class="col-xl-8">

            <div class="card">
                <div class="card-body pt-3">
                    <!-- Bordered Tabs -->
                    <ul class="nav nav-tabs nav-tabs-bordered">

                        <li class="nav-item">
                            <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Edit Profile</button>
                        </li>


                    </ul>
                    <div class="tab-content pt-2">

                        <div class="tab-pane fade show active profile-overview" id="profile-overview">
                            <form method="post" action="{% url 'lifehack:profile' %}" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="row mb-3">
                                    <label for="profileImage" class="col-md-4 col-lg-3 col-form-label">Profile Image</label>
                                    <div class="col-md-8 col-lg-9">
                                        {% if profile.image %}
                                        <img src="{{profile.image.url}}" alt="Profile" class="rounded-circle"> {% endif %}
                                        <div class="pt-2">
                                            <input type="file" class="form-control" name="image" />
                                        </div>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Full Name</label>
                                    <div class="col-md-8 col-lg-9">
                                        <input name="name" type="text" class="form-control" id="fullName" value="{{profile.name}}">
                                    </div>
                                </div>

                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary">Save Changes</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- End Bordered Tabs -->

                </div>
            </div>

        </div>
    </div>
</section>
<!-- End Page Title -->
{% load static %} {% endblock %}